openapi: 3.1.0
info:
  title: iSports API
  version: '2026-08-09'
  description: 'Key-authenticated REST/HTTP data feeds for football (soccer) and basketball: livescores, schedules and results,
    match events, lineups, live text, statistics, standings, player and team profiles, transfers, referees, multi-language
    name packs, live-animation feeds, and pre-match / in-play / historical odds across 200+ bookmakers.


    All operations are GET, authenticated with an `api_key` query parameter, and return the same `{code, message, data}` envelope
    with HTTP 200 — including on error (see `code`).


    This document was derived by API Evangelist from the endpoint definitions the provider publishes at https://www.isportsapi.com/en/docs.html
    — iSports API does not publish an OpenAPI definition of its own.'
  termsOfService: https://www.isportsapi.com/en/home/terms.html
  contact:
    name: iSports API
    url: https://www.isportsapi.com/en/
  x-derived-by: API Evangelist enrichment pipeline
  x-derived-from: https://www.isportsapi.com/en/docs.html
  x-derived-on: '2026-08-09'
externalDocs:
  description: iSports API documentation
  url: https://www.isportsapi.com/en/docs.html
servers:
- url: https://api.isportsapi.com
  description: Primary API host
- url: https://api2.isportsapi.com
  description: Alternate host, documented for when the primary host is slow or unreachable
tags:
- name: Basketball Live Data
- name: Football Live Data
- name: Football Profile
- name: Football Odds (18 Agencies)
- name: Basketball Profile
- name: Basketball Odds
- name: Football Common API
- name: Basketball Common API
- name: Football Stats
- name: Football European Odds (200+ Agencies)
- name: Basketball Stats
- name: Football Other Odds
- name: Football Live animation
- name: Basketball Live animation
- name: Football Multiple languages
security:
- apiKeyQuery: []
components:
  securitySchemes:
    apiKeyQuery:
      type: apiKey
      in: query
      name: api_key
      description: Personal API key issued from the iSports account settings page and passed on every request as the `api_key`
        query parameter.
paths:
  /sport/basketball/livescores/changes:
    get:
      operationId: getBasketballLivescoresChanges
      summary: Livescores Changes
      description: "• This API endpoint returns livescore changes for basketball matches updated in the last 15 seconds —\
        \ only the fields that changed since the last update are meaningful. \n\n\n\n• You can use it with the <a href=\"\
        /docs.html?id=19\" style=\"color:blue\">Livescore for today</a> endpoint to obtain full match information such as\
        \ team names and league details."
      tags:
      - Basketball Live Data
      responses:
        '200':
          description: Standard iSports envelope. `code` 0 indicates success; a non-zero `code` carries the error in `message`
            (HTTP status is 200 in both cases).
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    description: 0 on success; 2 on invalid/illegal api_key
                  message:
                    type: string
                    description: '"success" on success; otherwise the error message'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        matchId:
                          type: string
                          description: Unique ID of the match.
                        status:
                          type: integer
                          description: "0: Not started \n 1: First quarter \n 2: Second quarter \n 3: Third quarter \n 4:\
                            \ Fourth quarter \n 5: First OT \n 6: Second OT \n 7: Third OT \n 50: Half-time \n -1: Finished\
                            \ \n -2: TBD \n -3: Interrupted \n -4: Cancelled \n -5: Postponed"
                        quarterRemainTime:
                          type: string
                          description: Remaining time in the current quarter, e.g. 06:43.
                        homeScore:
                          type: integer
                          description: Total score of the home team.
                        awayScore:
                          type: integer
                          description: Total score of the away team.
                        homeFirstQuarterScore:
                          type: integer
                          description: Score of the home team in the 1st quarter.
                        awayFirstQuarterScore:
                          type: integer
                          description: Score of the away team in the 1st quarter.
                        homeSecondQuarterScore:
                          type: integer
                          description: Score of the home team in the 2nd quarter.
                        awaySecondQuarterScore:
                          type: integer
                          description: Score of the away team in the 2nd quarter.
                        homeThirdQuarterScore:
                          type: integer
                          description: Score of the home team in the 3rd quarter.
                        awayThirdQuarterScore:
                          type: integer
                          description: Score of the away team in the 3rd quarter.
                        homeFourthQuarterScore:
                          type: integer
                          description: Score of the home team in the 4th quarter.
                        awayFourthQuarterScore:
                          type: integer
                          description: Score of the away team in the 4th quarter.
                        overTimeCount:
                          type: integer
                          description: Number of overtime periods played.
                        homeFirstOverTimeScore:
                          type: integer
                          description: Score of the home team in the 1st overtime.
                        awayFirstOverTimeScore:
                          type: integer
                          description: Score of the away team in the 1st overtime.
                        homeSecondOverTimeScore:
                          type: integer
                          description: Score of the home team in the 2nd overtime.
                        awaySecondOverTimeScore:
                          type: integer
                          description: Score of the away team in the 2nd overtime.
                        homeThirdOverTimeScore:
                          type: integer
                          description: Score of the home team in the 3rd overtime.
                        awayThirdOverTimeScore:
                          type: integer
                          description: Score of the away team in the 3rd overtime.
                        hasStats:
                          type: boolean
                          description: "true: match stats data is available \n false: match stats data is not available"
                        explain:
                          type: string
                          description: 'The latest live-text event description for the match, e.g. [Spurs] [SAS] Team Timeout:
                            Regular.'
      externalDocs:
        description: iSports API documentation
        url: https://www.isportsapi.com/en/docs.html?id=13
      x-documentation:
      - https://www.isportsapi.com/en/docs.html?id=13
      x-rate-limit: This interface is limited to 1 second/call;
      x-recommended-call-frequency: 2~10 seconds/call
      x-plan-products:
      - Live Data
      x-doc-modified: '2026-07-09'
  /sport/football/livescores/changes:
    get:
      operationId: getFootballLivescoresChanges
      summary: Livescores Changes
      description: "• This API endpoint returns only the matches that have had livescore updates in the last 20 seconds. \n\
        \n\n\n• Use it alongside the Livescores for Today endpoint — call Livescores for Today once to get the full match\
        \ list, then poll this endpoint every 2–10 seconds to receive incremental updates."
      tags:
      - Football Live Data
      responses:
        '200':
          description: Standard iSports envelope. `code` 0 indicates success; a non-zero `code` carries the error in `message`
            (HTTP status is 200 in both cases).
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    description: 0 on success; 2 on invalid/illegal api_key
                  message:
                    type: string
                    description: '"success" on success; otherwise the error message'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        matchId:
                          type: string
                        startTime:
                          type: integer
                          description: "Actual kick-off time of the first or second half (Unix timestamp, GMT+0)\n\n state=1:\
                            \ Returns first half kick-off time\n state=3: Returns second half kick-off time \n All other states\
                            \ return 0 \n\n To calculate minutes elapsed: current time − halfStartTime (for second half, add\
                            \ 45 minutes to the result)"
                        matchTime:
                          type: integer
                          description: Scheduled match kick-off time (Unix timestamp, GMT+0)
                        status:
                          type: integer
                          description: "0: Not started\n 1: First half\n 2: Half-time break\n 3: Second half\n 4: Extra time\n\
                            \ 5: Penalty\n -1: Finished\n -10: Cancelled\n -11: TBD\n -12: Terminated\n -13: Interrupted\n\
                            \ -14: Postponed"
                        homeScore:
                          type: integer
                          description: Home team full-time goals (default 0)
                        awayScore:
                          type: integer
                          description: Away team full-time goals (default 0)
                        homeHalfScore:
                          type: integer
                          description: Home team first-half goals (default 0)
                        awayHalfScore:
                          type: integer
                          description: Away team first-half goals (default 0)
                        homeRed:
                          type: integer
                          description: Home team red cards (default 0)
                        awayRed:
                          type: integer
                          description: Away team red cards (default 0)
                        homeYellow:
                          type: integer
                          description: Home team yellow cards (default 0)
                        awayYellow:
                          type: integer
                          description: Away team yellow cards (default 0)
                        homeCorner:
                          type: integer
                          description: Home team corners (default 0)
                        awayCorner:
                          type: integer
                          description: Away team corners (default 0)
                        hasLineup:
                          type: boolean
                          description: "Indicates whether lineup data is available\n true: Available \nfalse: Not available"
                        explain:
                          type: string
                          description: Match special remarks (English). Empty string if none
                        extraExplain:
                          type: object
                          description: Nested object containing extra-time and penalty shootout data. All fields return 0
                            when not applicable
                          properties:
                            kickOff:
                              type: integer
                              description: "Team that took kick-off \n 0: Not started\n 1: Home\n 2: Away"
                            minute:
                              type: integer
                              description: Minutes played in regular time
                            homeScore:
                              type: integer
                              description: Home team regular time score
                            awayScore:
                              type: integer
                              description: Away team regular time score
                            extraTimeStatus:
                              type: integer
                              description: "Extra time status\n 0: No extra time\n 1: Extra time ended (regular match; includes\
                                \ regular time score) \n2: Extra time ended (special match e.g. beach/indoor football; excludes\
                                \ regular time score)\n 3: Match currently in extra time"
                            extraHomeScore:
                              type: integer
                              description: Home team extra-time score
                            extraAwayScore:
                              type: integer
                              description: Away team extra-time score
                            penHomeScore:
                              type: integer
                              description: Home team penalty shootout score
                            penAwayScore:
                              type: integer
                              description: Away team penalty shootout score
                            twoRoundsHomeScore:
                              type: integer
                              description: Home team two-legged aggregate score
                            twoRoundsAwayScore:
                              type: integer
                              description: Away team two-legged aggregate score
                            winner:
                              type: integer
                              description: "Match winner (knockout/two-legged ties) \n0: None / not applicable \n1: Home \n\
                                2: Away"
                        var:
                          type: string
                          description: VAR review event description. Empty string if none
                        injuryTime:
                          type: integer
                          description: "Length of injury time in the first and second half.How many minutes the injury time\
                            \ lasts needs to be calculated by the user. \n More than 45 minutes in the first half and more\
                            \ than 90 minutes in the second half will be counted as injury time."
      externalDocs:
        description: iSports API documentation
        url: https://www.isportsapi.com/en/docs.html?id=14
      x-documentation:
      - https://www.isportsapi.com/en/docs.html?id=14
      x-rate-limit: This interface is limited to 1 second/call;
      x-recommended-call-frequency: 2~10 seconds/call
      x-plan-products:
      - Live Data
      x-doc-modified: '2026-06-29'
  /sport/football/events:
    get:
      operationId: getFootballEvents
      summary: Events / Shooting events
      description: "**Events**\n\n• This API endpoint returns match events for football matches, including goals, cards, substitutions,\
        \ and VAR reviews.\n\n\n\n• By default, returns events for all matches on the current day (GMT+0 00:00–23:59).\n\n\
        \n\n• Events are identified by eventId and may be added or deleted (not modified). Always synchronize using eventId\
        \ — if an event is corrected, the old eventId will be deleted and a new one added.\n\n**Shooting events** (cmd=shot)\n\
        \n• This API endpoint provides detailed shooting event data for each match, including shot outcome, scenario, type,\
        \ and goal zone. \n\n\n\n• XY coordinates use a standardized 0–100 scale: X-axis = pitch width (0: left sideline,\
        \ 100: right sideline); Y-axis = pitch length (0: opponent's goal line / attacking direction, 100: own goal line).\
        \ \n\n\n\n• Coordinate data is available for high-level matches only."
      tags:
      - Football Live Data
      parameters:
      - name: date
        in: query
        required: false
        schema:
          type: string
        description: "Match date in yyyy-MM-dd format e.g. 2026-06-01. \n\n\nIf omitted, returns events for the current day.\
          \ Limited to the past month"
      - name: cmd
        in: query
        required: false
        schema:
          type: string
          enum:
          - new
          - shot
        description: "When set to new, returns only events updated in the last 3 minutes. \n\n Useful for incremental polling"
      responses:
        '200':
          description: Standard iSports envelope. `code` 0 indicates success; a non-zero `code` carries the error in `message`
            (HTTP status is 200 in both cases).
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    description: 0 on success; 2 on invalid/illegal api_key
                  message:
                    type: string
                    description: '"success" on success; otherwise the error message'
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: object
                        properties:
                          matchId:
                            type: string
                          events:
                            type: array
                            description: List of match events
                            items:
                              type: object
                              properties:
                                eventId:
                                  type: string
                                  description: Unique event ID. Events are only added or deleted, never modified. Use this
                                    to sync local data
                                minute:
                                  type: string
                                  description: "Match minute when the event occurred e.g. 1, 54. \n\n Returns 45 for first-half\
                                    \ injury time; 90 for second-half injury time"
                                type:
                                  type: integer
                                  description: "1: Goal\n 2: Red card\n 3: Yellow card\n 7: Penalty scored\n 8: Own goal\n\
                                    \ 9: Second yellow card (red)\n 11: Substitution\n 13: Penalty missed \n 14: VAR Review\
                                    \ (Video Assistant Referee)"
                                playerId:
                                  type: string
                                  description: Main player ID (scorer / carded / player coming on). Empty string if no player
                                    data
                                playerName:
                                  type: string
                                  description: "Player name(s) involved in the event. \n\n For goals with assist: Scorer(Assist:Assister)\
                                    \ e.g. Kacper Laskowski (Assist:Jakub Gric). \n\n For substitutions: PlayerOn↑PlayerOff↓\
                                    \ e.g. Kacper Nowakowski↑Szymon Bartlewicz↓. \n\n Empty string if no player data"
                                assistPlayerId:
                                  type: string
                                  description: "Secondary player ID: assister (goals) or player coming off (substitutions).\
                                    \ \n\n Empty string if not applicable"
                                overtime:
                                  type: string
                                  description: "Additional injury time minutes beyond the base minute \n\n e.g. 0 when not\
                                    \ in injury time, 1 when 1 minute into injury time"
                                homeEvent:
                                  type: boolean
                                  description: "Indicates whether the event belongs to the home team \n true: Home team \n\
                                    \ false: Away team"
                          penalty:
                            type: array
                            description: List of penalty shootout kick records. Only present when the match includes a penalty
                              shootout
                            items:
                              type: object
                              properties:
                                eventId:
                                  type: string
                                  description: Unique penalty kick event ID
                                homeEvent:
                                  type: boolean
                                  description: "Indicates whether the kick was taken by the home team \n true: Home team \n\
                                    \ false: Away team"
                                playerId:
                                  type: string
                                  description: ID of the player who took the penalty kick
                                playerName:
                                  type: string
                                  description: Name of the player who took the penalty kick e.g. Radosław Bąk
                                homeScore:
                                  type: integer
                                  description: Home team's cumulative penalty shootout score at the time of this kick
                                awayScore:
                                  type: integer
                                  description: Away team's cumulative penalty shootout score at the time of this kick
                                missed:
                                  type: boolean
                                  description: "Indicates whether the penalty kick was missed \n true: Missed or saved \n\
                                    \ false: Scored"
                                oprTime:
                                  type: integer
                                  description: Timestamp of the last data update (Unix timestamp, GMT+0)
                        title: Events
                      - type: object
                        properties:
                          matchId:
                            type: string
                          events:
                            type: object
                            description: List of shooting events for this match
                            properties:
                              eventId:
                                type: string
                              minute:
                                type: integer
                                description: "Match minute when the shot occurred e.g. 3. \n Returns 45 for first-half injury\
                                  \ time; 90 for second-half injury time"
                              overtime:
                                type: integer
                                description: Additional injury time minutes beyond the base minute e.g. 0 when not in injury
                                  time
                              playerId:
                                type: string
                                description: ID of the player who took the shot; references Player table
                              playerName:
                                type: string
                                description: Name of the player who took the shot e.g. Milton Gimenez
                              homeEvent:
                                type: boolean
                                description: "Indicates whether the shooting team is the home team \n true: Home team \n false:\
                                  \ Away team"
                              outcome:
                                type: string
                                description: "Shot outcome \n Goal: Scored \n Missed: Off target \n Saved: Saved by goalkeeper\
                                  \ \n Blocked: Blocked by outfield player \n Post: Hit the post or crossbar \n Own goal:\
                                  \ Own goal"
                              situation:
                                type: string
                                description: "Shooting scenario \n Open play: Regular open play \n Fast break: Counter-attack\
                                  \ \n Set piece: Set piece (general) \n Free kick: Direct free kick \n Corner: Corner kick\
                                  \ \n Throw-in set piece: Throw-in leading to shot \n Penalty: Penalty kick \n Shootout:\
                                  \ Penalty shootout \n Assisted: Shot assisted by a pass"
                              shotType:
                                type: string
                                description: "Shot method \n Right footed\n Left footed\n Head\n Other body part"
                              goalZone:
                                type: string
                                description: "High\n Left\n Right\n Low centre\n Low right\n Low left\n High centre\n High\
                                  \ right\n High left\n Close high\n Close right\n Close left\n Close left and high\n Close\
                                  \ right and high"
                              isBlocked:
                                type: boolean
                                description: "Indicates whether the shot was blocked by an outfield player \n true: Blocked\
                                  \ \n false: Not blocked"
                              startX:
                                type: number
                                description: X-coordinate of shot starting position (0-100). 0 = Left Sideline, 100 = Right
                                  Sideline.
                              startY:
                                type: number
                                description: Y-coordinate of shot starting position (0-100). 0 = Opponent's Goal Line (Attacking
                                  Direction), 100 = Own Goal Line.
                              endX:
                                type: number
                                description: X-coordinate of the ball's final destination on the pitch (0-100).
                              endY:
                                type: number
                                description: Y-coordinate of the ball's final destination on the pitch (0-100).
                              goalX:
                                type: number
                                description: Horizontal position on the goal mouth plane. 0 = Left Post, 100 = Right Post,
                                  50 = Center.
                              goalY:
                                type: number
                                description: Vertical height on the goal mouth plane. 0 = Ground Level, 100 = Crossbar.
                              blockX:
                                type: number
                                description: X-coordinate of the position where the shot was blocked (0-100).
                              blockY:
                                type: number
                                description: Y-coordinate of the position where the shot was blocked (0-100).
                              oprTime:
                                type: integer
                                description: Timestamp of the last data update (Unix timestamp, GMT+0)
                        title: Shooting events
      externalDocs:
        description: iSports API documentation
        url: https://www.isportsapi.com/en/docs.html?id=15
      x-documentation:
      - https://www.isportsapi.com/en/docs.html?id=15
      - https://www.isportsapi.com/en/docs.html?id=270
      x-rate-limit: This interface is limited to 10 seconds/call;
      x-recommended-call-frequency: 1 minute/call
      x-plan-products:
      - Live Data
      x-doc-modified: '2026-06-29'
  /sport/football/stats:
    get:
      operationId: getFootballStats
      summary: Stats
      description: "• This API endpoint returns real-time team technical statistics for football matches on the current day\
        \ (GMT+0 00:00–23:59). \n\n\n\n• Each stat is identified by a type code and provides separate values for home and\
        \ away teams."
      tags:
      - Football Live Data
      parameters:
      - name: date
        in: query
        required: false
        schema:
          type: string
        description: "Match date in yyyy-MM-dd format e.g. 2026-06-01. \n\n\n\nIf omitted, returns stats for the current day.\
          \ Limited to the past month"
      - name: matchId
        in: query
        required: false
        schema:
          type: string
        description: Filter by match ID. Only matches from the current day are supported
      responses:
        '200':
          description: Standard iSports envelope. `code` 0 indicates success; a non-zero `code` carries the error in `message`
            (HTTP status is 200 in both cases).
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    description: 0 on success; 2 on invalid/illegal api_key
                  message:
                    type: string
                    description: '"success" on success; otherwise the error message'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        matchId:
                          type: string
                        stats:
                          type: array
                          description: List of technical statistics entries for this match
                          items:
                            type: object
                            properties:
                              type:
                                type: integer
                                description: "0: Kick-off \n 1: First corner \n 2: First yellow card \n 3: Shots \n 4: Shots\
                                  \ on target \n 5: Fouls \n 6: Corner Kicks \n 7: Corner kicks (extra time) \n 8: Free kicks\
                                  \ \n 9: Offsides \n 10: Own goals \n 11: Yellow cards \n 12: Yellow cards (extra time) \n\
                                  \ 13: Red cards \n 14: Possession (%) \n 15: Aerial duels \n 16: Saves \n 17: Goalkeeper\
                                  \ claims \n 18: Dispossessed \n 19: Successful tackles \n 20: Interceptions \n 21: Long\
                                  \ passes \n 22: Short passes \n 23: Assists \n 24: Successful crosses \n 25: First substitution\
                                  \ \n 26: Last substitution \n 27: First offside \n 28: Last offside \n 29: Substitutions\
                                  \ \n 30: Last corner \n 31: Last yellow card \n 32: Substitution (extra time) \n 33: Offside\
                                  \ (extra time) \n 34: Shots off target \n 35: Hit the post \n 36: Successful headers \n\
                                  \ 37: Blocked shots \n 38: Tackles \n 39: Dribbles \n 40: Throw-ins \n 41: Passes \n 42:\
                                  \ Pass accuracy (%) \n 43: Attacks \n 44: Dangerous attacks \n 45: Corner kicks — first\
                                  \ half \n 46: Possession (%) — first half \n 47: Big chances created \n 48: Big chances\
                                  \ missed \n 49: Shots inside box \n 50: Shots outside box \n 51: Duels won \n 52: Expected\
                                  \ goals — xG \n 53: xG from open play \n 54: xG from set pieces \n 55: xG non-penalty \n\
                                  \ 56: xG on target — xGOT \n 57: Touches in opposition box \n 58: Accurate crosses \n 59:\
                                  \ Ground duels won \n 60: Aerial duels won \n 61: Clearances"
                              home:
                                type: integer
                                description: Home team value for this stat type
                              away:
                                type: integer
                                description: Away team value for this stat type
                        oprTime:
                          type: integer
                          description: Timestamp of the last data update (Unix timestamp, GMT+0)
      externalDocs:
        description: iSports API documentation
        url: https://www.isportsapi.com/en/docs.html?id=16
      x-documentation:
      - https://www.isportsapi.com/en/docs.html?id=16
      x-rate-limit: This interface is limited to 10 seconds/call;
      x-recommended-call-frequency: 1 minute/call
      x-plan-products:
      - Live Data
      x-doc-modified: '2026-06-29'
  /sport/football/lineups:
    get:
      operationId: getFootballLineups
      summary: Lineups
      description: '• This API endpoint returns starting lineups and substitute lists for football matches.




        • By default, returns lineups for matches within the past 24 hours to the present. Use the isPreview parameter to
        access predicted or official lineups for upcoming matches.




        • If a match has no formation data, all player position values return 0. Substitute players also return position 0
        regardless of formation.'
      tags:
      - Football Live Data
      parameters:
      - name: matchId
        in: query
        required: false
        schema:
          type: string
        description: Filter by match ID. Returns lineup for the specified match, or null if no lineup data is available
      - name: isPreview
        in: query
        required: false
        schema:
          type: string
        description: 'Optional. When set to true, returns the latest available lineup — either Predicted or Official.




          Without matchId: Returns lineups for matches within the past 24 hours and the next 12 hours.



          With matchId: Returns lineup for a specific match within a ±3-day window.



          Auto-update: Returns a Predicted lineup initially, then automatically switches to the Official lineup once released
          (typically 60 minutes before kick-off).'
      responses:
        '200':
          description: Standard iSports envelope. `code` 0 indicates success; a non-zero `code` carries the error in `message`
            (HTTP status is 200 in both cases).
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    description: 0 on success; 2 on invalid/illegal api_key
                  message:
                    type: string
                    description: '"success" on success; otherwise the error message'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        matchId:
                          type: string
                        homeFormation:
                          type: string
                          description: Home team formation e.g. 433, 4231
                        awayFormation:
                          type: string
                          description: Away team formation e.g. 4231, 352
                        homeLineup:
                          type: array
                          description: List of home team starting players (11 players)
                          items:
                            type: object
                            properties:
                              playerId:
                                type: string
                              name:
                                type: string
                                description: Player name (English) e.g. Filip Jorgensen
                              number:
                                type: integer
                                description: Player jersey number
                              position:
                                type: integer
                                description: "Player's positional row in the formation, based on number of formation columns.\
                                  \ Returns 0 for all players when no formation data is available, and for all substitute\
                                  \ players.\n\n 3-column formation: 0: Goalkeeper 1: Defender 2: Midfielder 3: Forward. \n\
                                  \n 4-column formation: 0: Goalkeeper 1: Defender 2: Defensive midfielder 3: Offensive midfielder\
                                  \ 4: Forward.\n\n 5-column formation: 0: Goalkeeper 1: Defender 2: Defensive midfielder\
                                  \ 3: Midfielder 4: Offensive midfielder 5: Forward"
                              isCaptain:
                                type: integer
                                description: "Captain flag \n\n true: This player is the captain \n false: Not the captain"
                        awayLineup:
                          type: array
                          description: List of away team starting players. Same structure as homeLineup
                          items: {}
                        homeBackup:
                          type: array
                          description: List of home team substitute players. Same structure as homeLineup. All substitute
                            players return position = 0
                          items: {}
                        awayBackup:
                          type: array
                          description: List of away team substitute players. Same structure as homeLineup. All substitute
                            players return position = 0
                          items: {}
      externalDocs:
        description: iSports API documentation
        url: https://www.isportsapi.com/en/docs.html?id=17
      x-documentation:
      - https://www.isportsapi.com/en/docs.html?id=17
      x-rate-limit: This interface is limited to 60 seconds/call;
      x-recommended-call-frequency: 90 seconds/call
      x-plan-products:
      - Live Data
      x-doc-modified: '2026-06-29'
  /sport/basketball/livescores:
    get:
      operationId: getBasketballLivescores
      summary: Livescores for Today
      description: "• This API endpoint returns livescores for basketball matches on the current day (GMT+0 00:00–23:59).\
        \ \n\n\n\n• You can use it with the <a href=\"/docs.html?id=13\" style=\"color:blue\">Livescores Changes</a> endpoint\
        \ to track subsequent score and status updates."
      tags:
      - Basketball Live Data
      responses:
        '200':
          description: Standard iSports envelope. `code` 0 indicates success; a non-zero `code` carries the error in `message`
            (HTTP status is 200 in both cases).
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    description: 0 on success; 2 on invalid/illegal api_key
                  message:
                    type: string
                    description: '"success" on success; otherwise the error message'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        matchId:
                          type: string
                          description: Unique ID of the match.
                        leagueId:
                          type: string
                          description: Unique ID of the league or cup.
                        leagueName:
                          type: string
                          description: Name of the league or cup, e.g. NBA.
                        quarterCount:
                          type: integer
                          description: "2: match has 2 quarters \n 4: match has 4 quarters"
                        matchTime:
                          type: integer
                          description: Match scheduled time (Unix timestamp, GMT+0).
                        status:
                          type: integer
                          description: "0: Not started \n 1: First quarter \n 2: Second quarter \n 3: Third quarter \n 4:\
                            \ Fourth quarter \n 5: First OT \n 6: Second OT \n 7: Third OT \n 50: Half-time \n -1: Finished\
                            \ \n -2: TBD \n -3: Interrupted \n -4: Cancelled \n -5: Postponed"
                        quarterRemainTime:
                          type: string
                          description: Remaining time in the current quarter, e.g. 06:43.
                        homeId:
                          type: string
                          description: Unique ID of the home team.
                        homeName:
                          type: string
                          description: Name of the home team.
                        homeRank:
                          type: integer
                          description: "League ranking of the home team. \n\n Returns 0 if not ranked."
                        awayId:
                          type: string
                          description: Unique ID of the away team.
                        awayName:
                          type: string
                          description: Name of the away team.
                        awayRank:
                          type: integer
                          description: "League ranking of the away team. \n\n Returns 0 if not ranked."
                        homeScore:
                          type: integer
                          description: Total score of the home team.
                        awayScore:
                          type: integer
                          description: Total score of the away team.
                        homeFirstQuarterScore:
                          type: integer
                          description: Score of the home team in the 1st quarter.
                        awayFirstQuarterScore:
                          type: integer
                          description: Score of the away team in the 1st quarter.
                        homeSecondQuarterScore:
                          type: integer
                          description: Score of the home team in the 2nd quarter.
                        awaySecondQuarterScore:
                          type: integer
                          description: Score of the away team in the 2nd quarter.
                        homeThirdQuarterScore:
                          type: integer
                          description: Score of the home team in the 3rd quarter.
                        awayThirdQuarterScore:
                          type: integer
                          description: Score of the away team in the 3rd quarter.
                        homeFourthQuarterScore:
                          type: integer
                          description: Score of the home team in the 4th quarter.
                        awayFourthQuarterScore:
                          type: integer
                          description: Score of the away team in the 4th quarter.
                        overTimeCount:
                          type: integer
                          description: Number of overtime periods played.
                        homeFirstOverTimeScore:
                          type: integer
                          description: Score of the home team in the 1st overtime.
                        awayFirstOverTimeScore:
                          type: integer
                          description: Score of the away team in the 1st overtime.
                        homeSecondOverTimeScore:
                          type: integer
                          description: Score of the home team in the 2nd overtime.
                        awaySecondOverTimeScore:
                          type: integer
                          description: Score of the away team in the 2nd overtime.
                        homeThirdOverTimeScore:
                          type: integer
                          description: Score of the home team in the 3rd overtime.
                        awayThirdOverTimeScore:
                          type: integer
                          description: Score of the away team in the 3rd overtime.
                        leagueSeason:
                          type: string
                          description: Season of the league, e.g. 26.
                        matchType:
                          type: integer
                          description: "1: Regular season \n 2: Post season \n 3: Pre-season \n - 1: Unclassified"
                        playoffsId:
                          type: string
                          description: ID of the playoff round. Only present for playoff matches.
                        stageId:
                          type: string
                          description: ID of the cup stage. Only present for cup matches.
                        hasStats:
                          type: boolean
                          description: "true: match stats data is available \n false: match stats data is not available"
                        explain:
                          type: string
                          description: 'The latest live-text event description for the match, e.g. [Spurs] [SAS] Team Timeout:
                            Regular.'
                        roundType:
                          type: string
                          description: "Round description. \n\n For cups, e.g. Groups. \n For league playoffs, e.g. Western\
                            \ 1 Round."
                        group:
                          type: string
                          description: Group name of the cup, e.g. A.
                        neutral:
                          type: boolean
                          description: "true: match is played at a neutral venue \n false: match is not played at a neutral\
                            \ venue"
      externalDocs:
        description: iSports API documentation
        url: https://www.isportsapi.com/en/docs.html?id=19
      x-documentation:
      - https://www.isportsapi.com/en/docs.html?id=19
      x-rate-limit: This interface is limited to 10 seconds/call;
      x-recommended-call-frequency: 1 minute/call
      x-plan-products:
      - Live Data
      x-doc-modified: '2026-07-09'
  /sport/football/livescores:
    get:
      operationId: getFootballLivescores
      summary: Livescores for Today
      description: "• This API endpoint returns livescores for all football matches on the current day (GMT+0 00:00–23:59).\
        \ \n\n\n\n• Use it alongside the Livescores Changes endpoint to receive incremental updates and avoid repeated full\
        \ pulls."
      tags:
      - Football Live Data
      responses:
        '200':
          description: Standard iSports envelope. `code` 0 indicates success; a non-zero `code` carries the error in `message`
            (HTTP status is 200 in both cases).
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    description: 0 on success; 2 on invalid/illegal api_key
                  message:
                    type: string
                    description: '"success" on success; otherwise the error message'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        matchId:
                          type: string
                        leagueType:
                          type: integer
                          description: '1: League

                            2: Cup'
                        leagueId:
                          type: string
                        leagueName:
                          type: string
                          description: League or cup full name (English) e.g. Copa Libertadores
                        leagueShortName:
                          type: string
                          description: League or cup short name (English) e.g. CON CLA
                        leagueColor:
                          type: string
                          description: 'League brand color (RGB hex) e.g. #8EAD12'
                        subLeagueId:
                          type: string
                          description: Sub-league ID. Empty string if not applicable
                        subLeagueName:
                          type: string
                          description: Currently active sub-league name. Empty string if not applicable e.g. Western Play-off
                        matchTime:
                          type: integer
                          description: Match kick-off time (Unix timestamp, GMT+0)
                        halfStartTime:
                          type: integer
                          description: "Actual kick-off time of the first or second half (Unix timestamp, GMT+0)\n\n state=1:\
                            \ Returns first half kick-off time\n state=3: Returns second half kick-off time \n All other states\
                            \ return 0 \n\n To calculate minutes elapsed: current time − halfStartTime (for second half, add\
                            \ 45 minutes to the result)"
                        status:
                          type: integer
                          description: "0: Not started\n 1: First half\n 2: Half-time break\n 3: Second half\n 4: Extra time\n\
                            \ 5: Penalty\n -1: Finished\n -10: Cancelled\n -11: TBD\n -12: Terminated\n -13: Interrupted\n\
                            \ -14: Postponed"
                        homeId:
                          type: string
                          description: Home team ID
                        homeName:
                          type: string
                          description: Home team name (English)
                        awayId:
                          type: string
                          description: Away team ID
                        awayName:
                          type: string
                          description: Away team name (English)
                        homeScore:
                          type: integer
                          description: Home team full-time goals (default 0)
                        awayScore:
                          type: integer
                          description: Away team full-time goals (default 0)
                        homeHalfScore:
                          type: integer
                          description: Home team first-half goals (default 0)
                        awayHalfScore:
                          type: integer
                          description: Away team first-half goals (default 0)
                        homeRed:
                          type: integer
                          description: Home team red cards (default 0)
                        awayRed:
                          type: integer
                          description: Away team red cards (default 0)
                        homeYellow:
                          type: integer
                          description: Home team yellow cards (default 0)
                        awayYellow:
                          type: integer
                          description: Away team yellow cards (default 0)
                        homeCorner:
                          type: integer
                          description: Home team corners (default 0)
                        awayCorner:
                          type: integer
                          description: Away team corners (default 0)
                        homeRank:
                          type: string
                          description: Home team's current league standing e.g. BRA D1-1
                        awayRank:
                          type: string
                          description: Away team's current league standing e.g. COL D1A-2
                        season:
                          type: string
                          description: Season identifier e.g. 2026 or 2019-2020
                        stageId:
                          type: string
                          description: Cup stage ID; references the Cup Stage Profile endpoint. Only returned for cup matches;
                            empty for league matches
                        round:
                          type: string
                          description: Round number or stage name e.g. Group stage, 10
                        group:
                          type: string
                          description: Group label e.g. F. Empty string if not applicable
                        location:
                          type: string
                          description: Match venue name e.g. Allianz Parque. Empty string if not available
                        weather:
                          type: string
                          description: Weather condition at the venue e.g. Cloudy, Clear
                        temperature:
                          type: string
                          description: Temperature at the venue e.g. 17℃～18℃
                        explain:
                          type: string
                          description: Match special remarks (English). Empty string if none
                        extraExplain:
                          type: object
                          description: Nested object containing extra-time and penalty shootout data. All fields return 0
                            when not applicable
                          properties:
                            kickOff:
                              type: integer
                              description: "Team that took kick-off \n 0: Not started\n 1: Home\n 2: Away"
                            minute:
                              type: integer
                              description: Minutes played in regular time
                            homeScore:
                              type: integer
                              description: Home team regular time score
                            awayScore:
                              type: integer
                              description: Away team regular time score
                            extraTimeStatus:
                              type: integer
                              description: "Extra time status\n 0: No extra time\n 1: Extra time ended (regular match; includes\
                                \ regular time score) \n2: Extra time ended (special match e.g. beach/indoor football; excludes\
                                \ regular time score)\n 3: Match currently in extra time"
                            extraHomeScore:
                              type: integer
                              description: Home team extra-time score
                            extraAwayScore:
                              type: integer
                              description: Away team extra-time score
                            penHomeScore:
                              type: integer
                              description: Home team penalty shootout score
                            penAwayScore:
                              type: integer
                              description: Away team penalty shootout score
                            twoRoundsHomeScore:
                              type: integer
                              description: Home team two-legged aggregate score
                            twoRoundsAwayScore:
                              type: integer
                              description: Away team two-legged aggregate score
                            winner:
                              type: integer
                              description: "Match winner (knockout/two-legged ties) \n0: None / not applicable \n1: Home \n\
                                2: Away"
                        hasLineup:
                          type: boolean
                          description: "Indicates whether lineup data is available\n true: Available \nfalse: Not available"
                        neutral:
                          type: boolean
                          description: "Neutral venue flag\n true: Neutral venue\n false: Home/away fixture"
                        injuryTime:
                          type: integer
                          description: "Cumulative injury time (minutes).\n Calculate first-half injury time as injuryTime\
                            \ - 45 when over 45; \nsecond-half injury time as injuryTime - 90 when over 90. \nReturns 0 when\
                            \ not in injury time"
                        var:
                          type: string
                          description: VAR review event description. Empty string if none
                        updateTime:
                          type: integer
                          description: Timestamp of the last data update (Unix timestamp, GMT+0)
      externalDocs:
        description: iSports API documentation
        url: https://www.isportsapi.com/en/docs.html?id=20
      x-documentation:
      - https://www.isportsapi.com/en/docs.html?id=20
      x-rate-limit: This interface is limited to 10 seconds/call;
      x-recommended-call-frequency: 1 minute/call
      x-plan-products:
      - Live Data
      x-doc-modified: '2026-06-29'
  /sport/football/schedule:
    get:
      operationId: getFootballSchedule
      summary: Schedule & Results
      description: '• This API endpoint returns match schedule and result data filtered by date, league, or specific match
        ID.




        • At least one of the parameters date, leagueId, or matchId is required. These three parameters cannot be used together
        at the same time.




        • Use it alongside the Match Modify Record endpoint to detect and sync kick-off time changes.


        The request path needs at least one parameter (date, leagueId, and matchId ) to retrieve correct response. These three
        parameters can not be used at the same time.'
      tags:
      - Football Live Data
      parameters:
      - name: date
        in: query
        required: false
        schema:
          type: string
        description: "Match date in yyyy-MM-dd format (GMT+0), e.g. 2026-06-01. \n Returns all matches on that date. \n Historical\
          \ data limited to the past month"
      - name: leagueId
        in: query
        required: false
        schema:
          type: string
        description: Filter matches by league or cup ID. Returns the current season by default
      - name: season
        in: query
        required: false
        schema:
          type: string
        description: "Filter by season; must be used with leagueId. e.g. 2025-2026. \n Defaults to current season if omitted"
      - name: subLeagueId
        in: query
        required: false
        schema:
          type: string
        description: Filter by sub-league; must be used with leagueId
      - name: stageId
        in: query
        required: false
        schema:
          type: string
        description: Filter by cup stage; must be used with leagueId
      - name: matchId
        in: query
        required: false
        schema:
          type: string
        description: Fetch one or more matches by ID. Separate multiple IDs with commas. Maximum 100 IDs per request
      responses:
        '200':
          description: Standard iSports envelope. `code` 0 indicates success; a non-zero `code` carries the error in `message`
            (HTTP status is 200 in both cases).
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    description: 0 on success; 2 on invalid/illegal api_key
                  message:
                    type: string
                    description: '"success" on success; otherwise the error message'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        matchId:
                          type: string
                        leagueType:
                          type: integer
                          description: "1: League\n 2: Cup"
                        leagueId:
                          type: string
                        leagueName:
                          type: string
                          description: League or cup full name (English) e.g. English Premier League
                        leagueShortName:
                          type: string
                          description: League or cup short name (English) e.g. ENG PR
                        leagueColor:
                          type: string
                          description: 'League brand color (RGB hex) e.g. #FF3333'
                        subLeagueId:
                          type: string
                          description: Sub-league ID. Empty string if not applicable
                        subLeagueName:
                          type: string
                          description: Currently active sub-league name. Empty string if not applicable e.g. Western Play-off
                        matchTime:
                          type: integer
                          description: Match kick-off time (Unix timestamp, GMT+0)
                        halfStartTime:
                          type: integer
                          description: "Actual kick-off time of the first or second half (Unix timestamp, GMT+0)\n\n state=1:\
                            \ Returns first half kick-off time\n state=3: Returns second half kick-off time \n All other states\
                            \ return 0 \n\n To calculate minutes elapsed: current time − halfStartTime (for second half, add\
                            \ 45 minutes to the result)"
                        status:
                          type: integer
                          description: "0: Not started\n 1: First half\n 2: Half-time break\n 3: Second half\n 4: Extra time\n\
                            \ 5: Penalty\n -1: Finished\n -10: Cancelled\n -11: TBD\n -12: Terminated\n -13: Interrupted\n\
                            \ -14: Postponed"
                        homeId:
                          type: string
                          description: Home team ID
                        homeName:
                          type: string
                          description: Home team name (English)
                        awayId:
                          type: string
                          description: Away team ID
                        awayName:
                          type: string
                          description: Away team name (English)
                        homeScore:
                          type: integer
                          description: Home team full-time goals (default 0)
                        awayScore:
                          type: integer
                          description: Away team full-time goals (default 0)
                        homeHalfScore:
                          type: integer
                          description: Home team first-half goals (default 0)
                        awayHalfScore:
                          type: integer
                          description: Away team first-half goals (default 0)
                        homeRed:
                          type: integer
                          description: Home team red cards (default 0)
                        awayRed:
                          type: integer
                          description: Away team red cards (default 0)
                        homeYellow:
                          type: integer
                          description: Home team yellow cards (default 0)
                        awayYellow:
                          type: integer
                          description: Away team yellow cards (default 0)
                        homeCorner:
                          type: integer
                          description: Home team corners (default 0)
                        awayCorner:
                          type: integer
                          description: Away team corners (default 0)
                        homeRank:
                          type: string
                          description: Home team's current league standing e.g. 1
                        awayRank:
                          type: string
                          description: Away team's current league standing e.g. 9
                        season:
                          type: string
                          description: Season identifier e.g. 2025-2026 or 2026
                        stageId:
                          type: string
                          description: Cup stage ID; references the Cup Stage Profile endpoint. Only returned for cup matches;
                            empty for league matches
                        round:
                          type: string
                          description: Round number or stage name e.g. 1, Group stage
                        group:
                          type: string
                          description: Group label e.g. F. Empty string if not applicable
                        location:
                          type: string
                          description: Match venue name e.g. Anfield. Empty string if not available
                        weather:
                          type: string
                          description: Weather condition at the venue e.g. Cloudy, Clear
                        temperature:
                          type: string
                          description: Temperature at the venue e.g. 17℃～18℃
                        explain:
                          type: string
                          description: Match special remarks (English). Empty string if none
                        extraExplain:
                          type: object
                          description: Nested object containing extra-time and penalty shootout data. All fields return 0
                            when not applicable
                          properties:
                            kickOff:
                              type: integer
                              description: "Team that took kick-off \n 0: Not started\n 1: Home\n 2: Away"
                            minute:
                              type: integer
                              description: Minutes played in regular time
                            homeScore:
                              type: integer
                              description: Home team regular time score
                            awayScore:
                              type: integer
                              description: Away team regular time score
                            extraTimeStatus:
                              type: integer
                              description: "Extra time status\n 0: No extra time\n 1: Extra time ended (regular match; includes\
                                \ regular time score) \n2: Extra time ended (special match e.g. beach/indoor football; excludes\
                                \ regular time score)\n 3: Match currently in extra time"
                            extraHomeScore:
                              type: integer
                              description: Home team extra-time score
                            extraAwayScore:
                              type: integer
                              description: Away team extra-time score
                            penHomeScore:
                              type: integer
                              description: Home team penalty shootout score
                            penAwayScore:
                              type: integer
                              description: Away team penalty shootout score
                            twoRoundsHomeScore:
                              type: integer
                              description: Home team two-legged aggregate score
                            twoRoundsAwayScore:
                              type: integer
                              description: Away team two-legged aggregate score
                            winner:
                              type: integer
                              description: "Match winner (knockout/two-legged ties) \n0: None / not applicable \n1: Home \n\
                                2: Away"
                        hasLineup:
                          type: boolean
                          description: "Indicates whether lineup data is available\n true: Available \nfalse: Not available"
                        neutral:
                          type: boolean
                          description: "Neutral venue flag\n true: Neutral venue\n false: Home/away fixture"
                        injuryTime:
                          type: integer
                          description: "Cumulative injury time (minutes).\n Calculate first-half injury time as injuryTime\
                            \ - 45 when over 45; \nsecond-half injury time as injuryTime - 90 when over 90. \nReturns 0 when\
                            \ not in injury time"
                        var:
                          type: string
                          description: VAR review event description. Empty string if none
                        updateTime:
                          type: integer
                          description: Timestamp of the last data update (Unix timestamp, GMT+0)
      externalDocs:
        description: iSports API documentation
        url: https://www.isportsapi.com/en/docs.html?id=21
      x-documentation:
      - https://www.isportsapi.com/en/docs.html?id=21
      x-rate-limit: This interface is limited to 60 seconds/call;
      x-recommended-call-frequency: 12 hours/call
      x-plan-products:
      - Live Data
      x-doc-modified: '2026-06-29'
  /sport/football/team:
    get:
      operationId: getFootballTeam
      summary: Team Profile
      description: '• This API endpoint returns detailed identity and background information for football teams.




        • It provides metadata such as founding dates, home venues, coaching staff, and official website links.




        • Use it to build comprehensive team profile pages or to display team logos and details in match-related interfaces.'
      tags:
      - Football Profile
      parameters:
      - name: leagueId
        in: query
        required: false
        schema:
          type: string
        description: 'League ID; references League table (note: not applicable for Cup IDs).'
      - name: teamId
        in: query
        required: false
        schema:
          type: string
        description: Team ID; references Team table.
      - name: day
        in: query
        required: false
        schema:
          type: string
        description: "Data modification window; \n\nreturns teams added or updated within the last N days, e.g. 1 or 2."
      - name: cmd
        in: query
        required: false
        schema:
          type: string
          enum:
          - more
        description: Extended data flag; set to more to include team introductions and honors.
      responses:
        '200':
          description: Standard iSports envelope. `code` 0 indicates success; a non-zero `code` carries the error in `message`
            (HTTP status is 200 in both cases).
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    description: 0 on success; 2 on invalid/illegal api_key
                  message:
                    type: string
                    description: '"success" on success; otherwise the error message'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        teamId:
                          type: string
                        leagueId:
                          type: string
                        name:
                          type: string
                          description: Team name
                        logo:
                          type: string
                          description: 'Team logo URL. (Note: Recommended to cache and host assets locally)'
                        foundingDate:
                          type: string
                          description: Team foundation date, e.g. 1898-1-1.
                        address:
                          type: string
                          description: Team office address
                        area:
                          type: string
                          description: Geographical area or city where the team is located
                        venue:
                          type: string
                          description: Home stadium name, e.g. Giuseppe Meazza
                        capacity:
                          type: integer
                          description: Venue seating capacity
                        coach:
                          type: string
                          description: Name of the current head coach
                        website:
                          type: string
                          description: Official website URL
                        isNational:
                          type: boolean
                          description: "National team flag; \n\n true: national team\n false: club team."
                        country_logo:
                          type: string
                          description: "Country logo URL; \n Only present when isNational is true."
      externalDocs:
        description: iSports API documentation
        url: https://www.isportsapi.com/en/docs.html?id=22
      x-documentation:
      - https://www.isportsapi.com/en/docs.html?id=22
      x-rate-limit: This interface is limited to 1,800 seconds/call;
      x-recommended-call-frequency: 1 day/call
      x-plan-products:
      - Live Data
      x-doc-modified: '2026-06-29'
  /sport/football/player:
    get:
      operationId: getFootballPlayer
      summary: Player Profile / Teamlist with Player Profile
      description: '**Player Profile** (teamId=82)


        • This API endpoint returns comprehensive profile and identity data for football players, supporting records for both
        club and national team associations.




        • Requests require at least one parameter from teamId, day, or playerId (these three parameters are mutually exclusive
        and cannot be used simultaneously).




        • Use it after calling the <a href="https://www.isportsapi.com/en/docs.html?id=246" style="color:blue">Teamlist with
        Player Profile</a> endpoint to obtain valid teamIds, then use those IDs here to retrieve the complete player profiles
        for each squad.




        • It is recommended to perform an initial full data synchronization followed by regular incremental updates, using
        the unique recordId to distinguish between multiple team associations for the same player.


        **Teamlist with Player Profile** (cmd=teamlist)


        • This API endpoint returns a comprehensive list of all team IDs that have associated player profile data in the database.




        • It provides a flat array of unique identifiers representing every team with an active roster.




        • Use it as the primary entry point to obtain valid teamId values, which are required for retrieving detailed squad
        information via the Player Profile endpoint.


        Must add one of the two parameters teamId and playerId.'
      tags:
      - Football Profile
      parameters:
      - name: teamId
        in: query
        required: false
        schema:
          type: string
        description: Get player data for a specified team.　Supports up to 50 IDs.
      - name: playerId
        in: query
        required: false
        schema:
          type: string
        description: Get specified player data.
      - name: day
        in: query
        required: false
        schema:
          type: string
        description: 'Data modification window;


          returns players updated within the last N days.'
      - name: cmd
        in: query
        required: false
        schema:
          type: string
          enum:
          - more
          - teamlist
        description: "Extended data flag; \n\nset to more to include player honors."
      responses:
        '200':
          description: Standard iSports envelope. `code` 0 indicates success; a non-zero `code` carries the error in `message`
            (HTTP status is 200 in both cases).
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    description: 0 on success; 2 on invalid/illegal api_key
                  message:
                    type: string
                    description: '"success" on success; otherwise the error message'
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: object
                        properties:
                          recordId:
                            type: string
                            description: Unique identifier for the player-team association
                          playerId:
                            type: string
                          name:
                            type: string
                            description: Player name, e.g. Franco Mastantuono
                          birthday:
                            type: string
                            description: Birth date, e.g. 2007-08-14
                          height:
                            type: integer
                            description: Player height in cm, e.g. 178
                          country:
                            type: string
                            description: Primary nationality
                          feet:
                            type: string
                            description: Preferred foot; e.g. Left, Right, or Both
                          weight:
                            type: integer
                            description: Player weight in kg, e.g. 71
                          photo:
                            type: string
                            description: 'Player photo URL. (Note: Recommended to cache and host assets locally)'
                          value:
                            type: integer
                            description: Market value in units of 10,000 Euros, e.g. 4500 (represents 45,000,000 Euros).
                          teamId:
                            type: string
                            description: Current team ID; references Team table
                          position:
                            type: string
                            description: Playing position, e.g. Right Winger
                          number:
                            type: integer
                            description: Player jersey number
                          introduce:
                            type: string
                            description: Player biography or introduction
                          contractEndDate:
                            type: string
                            description: Contract expiration date, e.g. 2031-06-30
                          PAC:
                            type: string
                            description: Pace for players or Diving for goalkeepers.
                          SHO:
                            type: string
                            description: Shooting for players or Handling for goalkeepers.
                          PAS:
                            type: string
                            description: Passing for players or Kicking for goalkeepers.
                          DRI:
                            type: string
                            description: Dribbling for players or Reflexes for goalkeepers.
                          DEF:
                            type: string
                            description: Defending for players or Speed for goalkeepers.
                          PHY:
                            type: string
                            description: Physical for players or Positioning for goalkeepers.
                          country2:
                            type: string
                            description: Second nationality of the player, if available.
                          country2Id:
                            type: integer
                            description: Unique identifier of the player’s second nationality.
                        title: Player Profile
                      - type: object
                        properties:
                          teamId:
                            type: integer
                            description: List of Team IDs; references Team table.
                        title: Teamlist with Player Profile
      externalDocs:
        description: iSports API documentation
        url: https://www.isportsapi.com/en/docs.html?id=23
      x-documentation:
      - https://www.isportsapi.com/en/docs.html?id=23
      - https://www.isportsapi.com/en/docs.html?id=246
      x-rate-limit: This interface is limited to 60 seconds/call;
      x-recommended-call-frequency: 1 day/call
      x-plan-products:
      - Live Data
      x-doc-modified: '2026-07-18'
  /sport/football/odds/main:
    get:
      operationId: getFootballOddsMain
      summary: Pre-match and In-play Odds (Main)
      description: "• This API endpoint returns pre-match and in-play odds for major markets, including Asian Handicap, 1X2,\
        \ and over/under — with both full-match and first-half breakdowns.\n\n\n\n• Returns matches with odds available for\
        \ the next 14 days, covering both pre-match and in-play. Use it alongside the Live Odds Changes (Main) endpoint for\
        \ real-time updates, and Schedule & Results or Match Modify Record to get basic match information.\n\n\n\n• Handicap\
        \ and over/under line format: Lines are multiples of 0.25. \n\n0 = 0 goals, 0.25 = 0/0.5, 0.5 = 0.5, 0.75 = 0.5/1,\
        \ 1 = 1 goal, and so on. A positive value means the home team gives goals; a negative value means the away team gives\
        \ goals.\n\n\n\n• The company ID corresponds to the company:\n\n1: Macauslot, 3: Crown, 4: Ladbrokes, 7: SNAI, 8:\
        \ Bet365, 9: William Hill, 12: Easybets, 14: Vcbet, 17: Mansion88, 19: Interwetten, 22: 10BET, 24: 12bet, 31: Sbobet,\
        \ 35: Wewbet, 42: 18bet, 48: HK Jockey Club, 49:Bwin, 50:1xbet \n\n\n\n• Odds format: All odds values are returned\
        \ in Hong Kong Odds format. \n\nTo convert to other formats: Decimal Odds = HK + 1 (e.g., 0.85 → 1.85); Malay Odds\
        \ = HK if HK ≤ 1, or −(1 ÷ HK) if HK > 1 (e.g., 0.85 → 0.85, 1.5 → −0.67); Indonesian Odds = HK if HK ≥ 1, or −(1\
        \ ÷ HK) if HK < 1 (e.g., 0.85 → −1.18, 1.5 → 1.5); American Odds = HK × 100 if HK ≥ 1, or −(100 ÷ HK) if HK < 1 (e.g.,\
        \ 0.85 → −118, 1.5 → +150).\n\n\n\n• close field: Only supported by selected bookmakers: Macauslot (1), Crown (3),\
        \ Bet365 (8), Easybets (12), Mansion88 (17), 10BET (22), 12bet (24), Sbobet (31), Wewbet (35), 18bet (42)."
      tags:
      - Football Odds (18 Agencies)
      parameters:
      - name: matchId
        in: query
        required: false
        schema:
          type: string
        description: Filter results to specific matches. Separate multiple IDs with "," (e.g., matchId=322964610,322964611).
          Maximum 100 match IDs per request.
      - name: companyId
        in: query
        required: false
        schema:
          type: string
        description: Filter results to specific bookmakers. Separate multiple IDs with "," (e.g., companyId=3,8).
      responses:
        '200':
          description: Standard iSports envelope. `code` 0 indicates success; a non-zero `code` carries the error in `message`
            (HTTP status is 200 in both cases).
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    description: 0 on success; 2 on invalid/illegal api_key
                  message:
                    type: string
                    description: '"success" on success; otherwise the error message'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        handicap:
                          type: object
                          description: Asian Handicap odds. Each entry is a comma-separated string containing the fields below.
                          properties:
                            matchId:
                              type: string
                            companyId:
                              type: string
                              description: "1: Macauslot\n 3: Crown\n 4: Ladbrokes\n 7: SNAI\n 8: Bet365\n 9: William Hill\n\
                                \ 12: Easybets\n 14: Vcbet\n 17: Mansion88\n 19: Interwetten\n 22: 10BET\n 24: 12bet\n 31:\
                                \ Sbobet\n 35: Wewbet\n 42: 18bet\n 48: HK Jockey Club"
                            initialHandicap:
                              type: string
                              description: "Opening handicap line. \n\n Positive = home team gives goals (e.g., 1 = home −1).\n\
                                \ Negative = away team gives goals (e.g., -1 = home +1). Quarter lines as decimals (e.g.,\
                                \ 1.25 = 1/1.5)."
                            initialHome:
                              type: string
                              description: Opening Asian Handicap odds — home side (Hong Kong Odds)
                            initialAway:
                              type: string
                              description: Opening Asian Handicap odds — away side (Hong Kong Odds)
                            instantHandicap:
                              type: string
                              description: Current handicap line. Same format as initialHandicap.
                            instantHome:
                              type: string
                              description: Current Asian Handicap odds — home side (Hong Kong Odds)
                            instantAway:
                              type: string
                              description: Current Asian Handicap odds — away side (Hong Kong Odds)
                            maintenance:
                              type: boolean
                              description: "true: Official data is under maintenance or experiencing an anomaly — data updates\
                                \ are temporarily paused \n false: Normal"
                            inPlay:
                              type: boolean
                              description: "true: In-play odds available \n false: Pre-match only"
                            changeTime:
                              type: integer
                              description: Timestamp of the last odds update (Unix timestamp, GMT+0)
                            close:
                              type: boolean
                              description: "true: Betting is temporarily suspended or in-play has stopped \n false: Betting\
                                \ is open."
                            Odds Type:
                              type: string
                              description: "Odds stage\n 0: Unable to determine\n 1: Early odds \n 2: Pre-match closing odds\
                                \ (after early odds, before kick-off) \n 3: In-play odds"
                        europeOdds:
                          type: object
                          description: 1X2 odds. Each entry is a comma-separated string containing the fields below.
                          properties:
                            matchId:
                              type: string
                            companyId:
                              type: string
                              description: "1: Macauslot\n 3: Crown\n 4: Ladbrokes\n 7: SNAI\n 8: Bet365\n 9: William Hill\n\
                                \ 12: Easybets\n 14: Vcbet\n 17: Mansion88\n 19: Interwetten\n 22: 10BET\n 24: 12bet\n 31:\
                                \ Sbobet\n 35: Wewbet\n 42: 18bet\n 48: HK Jockey Club"
                            initialHome:
                              type: string
                              description: Opening 1X2 odds — home win (Hong Kong Odds)
                            initialDraw:
                              type: string
                              description: Opening 1X2 odds — draw (Hong Kong Odds)
                            initialAway:
                              type: string
                              description: Opening 1X2 odds — away win (Hong Kong Odds)
                            instantHome:
                              type: string
                              description: Current 1X2 odds — home win (Hong Kong Odds)
                            instantDraw:
                              type: string
                              description: Current 1X2 odds — draw (Hong Kong Odds)
                            instantAway:
                              type: string
                              description: Current 1X2 odds — away win (Hong Kong Odds)
                            changeTime:
                              type: integer
                              description: Timestamp of the last odds update (Unix timestamp, GMT+0)
                            close:
                              type: boolean
                              description: "true: Betting is temporarily suspended or in-play has stopped \n false: Betting\
                                \ is open."
                            Odds Type:
                              type: string
                              description: "Odds stage\n 0: Unable to determine\n 1: Early odds \n 2: Pre-match closing odds\
                                \ (after early odds, before kick-off) \n 3: In-play odds"
                        overUnder:
                          type: object
                          description: Over/under odds. Each entry is a comma-separated string containing the fields below.
                          properties:
                            matchId:
                              type: string
                            companyId:
                              type: string
                              description: "1: Macauslot\n 3: Crown\n 4: Ladbrokes\n 7: SNAI\n 8: Bet365\n 9: William Hill\n\
                                \ 12: Easybets\n 14: Vcbet\n 17: Mansion88\n 19: Interwetten\n 22: 10BET\n 24: 12bet\n 31:\
                                \ Sbobet\n 35: Wewbet\n 42: 18bet\n 48: HK Jockey Club"
                            initialHandicap:
                              type: string
                              description: "Opening over/under line. \n\n Positive integer = exact goal total (e.g., 1 = 1\
                                \ goal). Quarter lines as decimals (e.g., 1.25 = 1/1.5)."
                            initialOver:
                              type: string
                              description: Opening over odds (Hong Kong Odds)
                            initialUnder:
                              type: string
                              description: Opening under odds (Hong Kong Odds)
                            instantHandicap:
                              type: string
                              description: Current over/under line. Same format as initialHandicap.
                            instantOver:
                              type: string
                              description: Current over odds (Hong Kong Odds)
                            instantUnder:
                              type: string
                              description: Current under odds (Hong Kong Odds)
                            changeTime:
                              type: integer
                              description: Timestamp of the last odds update (Unix timestamp, GMT+0)
                            close:
                              type: boolean
                              description: "true: Betting is temporarily suspended or in-play has stopped \n false: Betting\
                                \ is open."
                            Odds Type:
                              type: string
                              description: "Odds stage\n 0: Unable to determine\n 1: Early odds \n 2: Pre-match closing odds\
                                \ (after early odds, before kick-off) \n 3: In-play odds"
                        handicapHalf:
                          type: object
                          description: First-half Asian Handicap odds. Each entry is a comma-separated string containing the
                            fields below.
                          properties:
                            matchId:
                              type: string
                            companyId:
                              type: string
                              description: "1: Macauslot\n 3: Crown\n 4: Ladbrokes\n 7: SNAI\n 8: Bet365\n 9: William Hill\n\
                                \ 12: Easybets\n 14: Vcbet\n 17: Mansion88\n 19: Interwetten\n 22: 10BET\n 24: 12bet\n 31:\
                                \ Sbobet\n 35: Wewbet\n 42: 18bet\n 48: HK Jockey Club"
                            initialHandicap:
                              type: string
                              description: Opening first-half handicap line. Same format as handicap initialHandicap.
                            initialHome:
                              type: string
                              description: Opening first-half Asian Handicap odds — home side (Hong Kong Odds)
                            initialAway:
                              type: string
                              description: Opening first-half Asian Handicap odds — away side (Hong Kong Odds)
                            instantHandicap:
                              type: string
                              description: Current first-half handicap line. Same format as initialHandicap.
                            instantHome:
                              type: string
                              description: Current first-half Asian Handicap odds — home side (Hong Kong Odds)
                            instantAway:
                              type: string
                              description: Current first-half Asian Handicap odds — away side (Hong Kong Odds)
                            changeTime:
                              type: integer
                              description: Timestamp of the last odds update (Unix timestamp, GMT+0)
                            Odds Type:
                              type: string
                              description: "Odds stage\n 0: Unable to determine\n 1: Early odds \n 2: Pre-match closing odds\
                                \ (after early odds, before kick-off) \n 3: In-play odds"
                        overUnderHalf:
                          type: object
                          description: First-half over/under odds. Each entry is a comma-separated string containing the fields
                            below.
                          properties:
                            matchId:
                              type: string
                            companyId:
                              type: string
                              description: "1: Macauslot\n 3: Crown\n 4: Ladbrokes\n 7: SNAI\n 8: Bet365\n 9: William Hill\n\
                                \ 12: Easybets\n 14: Vcbet\n 17: Mansion88\n 19: Interwetten\n 22: 10BET\n 24: 12bet\n 31:\
                                \ Sbobet\n 35: Wewbet\n 42: 18bet\n 48: HK Jockey Club"
                            initialHandicap:
                              type: string
                              description: Opening first-half over/under line. Same format as overUnder initialHandicap.
                            initialOver:
                              type: string
                              description: Opening first-half over odds (Hong Kong Odds)
                            initialUnder:
                              type: string
                              description: Opening first-half under odds (Hong Kong Odds)
                            instantHandicap:
                              type: string
                              description: Current first-half over/under line. Same format as initialHandicap.
                            instantOver:
                              type: string
                              description: Current first-half over odds (Hong Kong Odds)
                            instantUnder:
                              type: string
                              description: Current first-half under odds (Hong Kong Odds)
                            changeTime:
                              type: integer
                              description: Timestamp of the last odds update (Unix timestamp, GMT+0)
                            Odds Type:
                              type: string
                              description: "Odds stage\n 0: Unable to determine\n 1: Early odds \n 2: Pre-match closing odds\
[...]
